## Project Overview
Your company, Microsoft has assessed the movie market and found out that most big companies are creating real good if not perfect original video content.

In my opinion your Company will perform eceptinately well in the industry 

It is advisable that you join in the fun and create movies and videos as well as host them on a Microsoft platform which I would be greatly obliged to create. 

Nonetheless, I have been tasked with the responsibility of analysing the big movie platforms and markets, ascertain the best performing movies in the market & recommend the best way to intepret the results of my exploratory analysis into actionable insights, i.e; 
### This analysis is:
    1.Extensive and thorough
    2.Mainly focuses datasets from five big movie companies
            >Box Ofiice Movies (../Data/bom.movie_gross.csv)
            >Rotten Tomatoes (../Data/rt.movie_info.tsv)
            >The Movie Db (../Data/tmdb.movies.csv)
            >IMDB Movies (../Data/im.db)
            >The-Number movies (../Data/tmdb.movies.csv)

   ### N/B: I will focus on THREE companies!

The datasets are formated differently and have crucial interrelated data such as; movie titles, movie id,  movie ratings, genres etc...

I will work on them using Pandas ,   perform relevant calculations using NumPy library and visualize the data using the inbuilt python library matplotlib.pyplot and Seaborn.

I wil make the analysis simple and extensive anough for seamless interpretetion.

Thank you for the opportunity.


## 1.  Importing relevant libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

## 1.1  Load the Data

In [3]:
# Load the csv and tsv data
df_bom = pd.read_csv('bom.movie_gross.csv')

df_tmdb_movie = pd.read_csv('tmdb.movies.csv')

# Combine the DataFrames
combined_df = pd.concat([df_bom, df_tmdb_movie], axis=0, ignore_index=True)
combined_df

,title,studio,domestic_gross,foreign_gross,year,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,vote_average,vote_count
0,Toy Story 3,BV,415000000.0,652000000,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Inception,WB,292600000.0,535700000,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Shrek Forever After,P/DW,238700000.0,513900000,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29899,Laboratory Conditions,NaN,NaN,NaN,NaN,26512.0,"[27, 18]",488143.0,en,Laboratory Conditions,0.6,2018-10-13,0.0,1.0
29900,_EXHIBIT_84xxx_,NaN,NaN,NaN,NaN,26513.0,"[18, 53]",485975.0,en,_EXHIBIT_84xxx_,0.6,2018-05-01,0.0,1.0
29901,The Last One,NaN,NaN,NaN,NaN,26514.0,"[14, 28, 12]",381231.0,en,The Last One,0.6,2018-10-01,0.0,1.0
29902,Trailer Made,NaN,NaN,NaN,NaN,26515.0,"[10751, 12, 28]",366854.0,en,Trailer Made,0.6,2018-06-22,0.0,1.0
29903,The Church,NaN,NaN,NaN,NaN,26516.0,"[53, 27]",309885.0,en,The Church,0.6,2018-10-05,0.0,1.0